//=================dropdawn - icon============
.dropdawn-icon {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 2px;
	width: 20px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&::before {
		content: "";
		@include transition;
		display: block;
		transform: translate(1.75px) rotate(45deg);
		width: 8px;
		height: 2px;
		background-color: $fontColor_1-0;
		z-index: 1;
	}
	&::after {
		content: "";
		@include transition;
		display: block;
		transform: translate(-1.75px) rotate(-45deg);
		width: 8px;
		height: 2px;
		background-color: $fontColor_1-0;
		z-index: 1;
	}
	&.active {
		&::after {
			transform: translate(-6.25px, -50%) rotate(-45deg);
		}
		&::before {
			transform: translate(6.25px, -50%) rotate(45deg);
		}
	}
}
